<div class="bg-sky-600 py-3"><h2 class="flex justify-center text-xl text-gray-200">Sign up</h2></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field bg-white">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class:"border-none focus:ring-0" %>
  </div>

  <div class="field bg-white">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"border-none focus:ring-0" %>
  </div>

  <div class="field bg-white">
    <!-- <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /> %> -->
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class:"border-none focus:ring-0" %>
  </div>

  <div class="field bg-white">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class:"border-none focus:ring-0" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
