<%= link_to category_transactions_path(category_id: category) do %> 
  <div id="<%= dom_id category %>" class="flex justify-between items-center bg-white p-1 m-2 border">
    <div class="flex justify-center items-center content rounded">
      <img src=<%=category.icon%> alt=<%=category.name%> class="w-14 h-14">
      <h2 class="font-bold text-zinc-500 w-fit ml-3"><%= category.name %></h2>
    </div>
  </div>
<% end %>
